<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="fitness-overview">
      <ion-icon name="fitness-sharp"></ion-icon>
      <ion-label>Fitness Record</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analytics">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Analytics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
