<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">Username</ion-label>
                            <ion-input
                                    type="text"
                                    ngModel
                                    name="username"
                                    required
                                    #usernameCtrl="ngModel"
                            ></ion-input>
                        </ion-item>
                        <ion-item *ngIf="!usernameCtrl.valid && usernameCtrl.touched" lines="none"
                                  class="validate-message">
                            <ion-note>
                                <ion-text>Should be a valid value</ion-text>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Password</ion-label>
                            <ion-input
                                    type="password"
                                    ngModel
                                    name="password"
                                    required
                                    #passwordCtrl="ngModel"
                            ></ion-input>
                        </ion-item>
                        <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none"
                                  class="validate-message">
                            <ion-note>
                                <ion-text>Should be a valid value</ion-text>
                            </ion-note>
                        </ion-item>
                    </ion-list>
                    <ion-button [disabled]="!form.valid" type="submit" color="primary" expand="block" fill="outline">
                        Login
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
