<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Fitness Record
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let type of  (trainingTypes | async)  | keyvalue">
            <ion-col size="12">
                <ion-card class="ion-justify-content-center training-type__card"
                         (click)="onSelectedType(type.key)"
                          routerDirection="forward">
                    <ion-card-header class="training-type__header">
                        <ion-card-title class="ion-text-center ion-text-uppercase">{{type.value.name}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
