<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fitness Record
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-justify-content-center"
                  routerLink="training-set/test"
                  routerDirection="forward">
          <ion-card-header class="training-type__header" >
            <ion-card-title class="ion-text-center ion-text-uppercase">Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-justify-content-center">
          <ion-card-header class="training-type__header" >
            <ion-card-title class="ion-text-center ion-text-uppercase">Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
