/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "src/app/components/table/table.component";

.training-type__header{
  display:flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-height: 150px;
  ion-card-title{
    color: white;
  }
}
.training-type__card{
  background: -webkit-linear-gradient(to right, var( --ion-color-primary), var( --ion-color-secondary));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  var( --ion-color-primary), var( --ion-color-secondary)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ion-item-sliding ion-label {
  border-left: 2px solid var( --ion-color-primary);
  padding-left: 10px;
}

.ion-invalid.ion-touched ion-label{
  color: var(--ion-color-danger);
}
ion-header, ion-toolbar{
  --background: none;
  background: -webkit-linear-gradient(to right, var( --ion-color-primary), var( --ion-color-secondary));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  var( --ion-color-primary), var( --ion-color-secondary)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
ion-item {
  --border-color:  var( --ion-color-secondary);

}
ion-note{
  font-size: 13px;
}
ion-item.validate-message{
  --padding-top: 5px;
}
